info-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: #d3d3d3;
}

.info-panel-navigation {
    display: inline-block;
}

.info-panel-control {
    float: right;
}

.info-panel-section {
    height: 100%;
}

.info-panel-section code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}