.module-selector-select {
    height: 50px; /* line-height has no effect on replaced elements */
    margin-right: 0.5rem;
    background-color: #e8ecec;
    border: 1px solid transparent;
}

.module-selector-select:hover {
    transition: all 0.2s ease-in;
    border: 1px solid #1b363b;
    background-color: #ccd5d7;
    cursor: pointer;
}

.module-selector-anchor {
   vertical-align: top;
}