app {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 3;
}

.app-header {
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #d3d3d3;
    border-bottom: 1px solid #d0d0d0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.app-header > size-controls {
    float: right;
}

.app-content {
    background-color: #444;
}

.app-frame {
    border-right: 1px solid #ccc;
}