@import '../core/core.css';

size-controls .button {
    display: none;
}

size-controls > * + * {
    margin-left: var(--default-margin);
}

size-controls .button:last-of-type {
    font-size: 0.8em;
    height: 42px;
}

.size-controls-fieldset {
    display: inline-block;
}

.size-controls-input {
    height: 42px; /* line-height has no effect on replaced elements */
    width: 6em;
    box-sizing: border-box;
    padding: 0 1em;
    background: var(--color-grey-light);
    border: 1px solid transparent;
}

.size-controls-input:hover {
    transition: all 0.2s ease-in;
    border: 1px solid var(--color-blue-dark);
    background-color: var(--color-grey);
}

@media screen and (min-width: 900px) {
    size-controls .button {
        display: inline-block;
    }
}