@font-face {
    font-family: 'icon-font';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggi/2EAAAC8AAAAYGNtYXBt+WyrAAABHAAAAKRnYXNwAAAAEAAAAcAAAAAIZ2x5Zrthbi0AAAHIAAAExGhlYWQCMzlJAAAGjAAAADZoaGVhA80B8QAABsQAAAAkaG10eBkAA6sAAAboAAAAQGxvY2EKQAkAAAAHKAAAACJtYXhwABUAWwAAB0wAAAAgbmFtZVcZpu4AAAdsAAABRXBvc3QAAwAAAAAItAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADoqwHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAJAAAAAgACAABAAAAAEAIOYo5jnmSOaZ5wTnpeen58XnyuiH6Kfoq//9//8AAAAAACDmKOY55kjmmecE56Xnp+fF58roh+in6Kv//f//AAH/4xncGcwZvhluGQQYZBhjGEYYQheGF2cXZAADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAKwAAAesBwABYAAAlIzU0JicuASsBNTQmJy4BIyIGBw4BHQEjIgYHDgEdATMyFhceARUUBgcOASsBFRQWFx4BOwE1NDY3PgEzMhYXHgEdATMyNjc+AT0BMzI2Nz4BNTQmJy4BIwG1IAYGBg8JVggHCBMLCxMIBwhWCQ8GBQcgDBUHCAkJCAcVDCAGBgYPCVEJCAgVDAwVCAgJUQkPBgYGIAsUBwcJCQcHFAvrVQkPBgYHIAsTBwgICAgHEwsgBwYGDwlRCQgIFQwMFQcICVEJEAYFByAMFQgICQkICBUMIAcFBhAJVQgIBxMLCxQHBwkAAAAEACsAAAHVAasABAAdADYAOwAANzM1IxUTIgYHDgEVFBYXHgEzMjY3PgE1NCYnLgEjESImJy4BNTQ2Nz4BMzIWFx4BFRQGBw4BIyczNSMV6yoqFSxOHR0hIR0dTiwsTh0dISEdHU4sIz4YFxsbFxg+IyM+GBcbGxcYPiMVKiprgIABQCIdHU0tLE4dHCIiHB1OLC1NHR0i/oAbFxc+IyQ+FxcbGxcXPiQjPhcXG+orKwAAAAACAEAAFQHAAZUAHAAmAAAlIREzNSMiBgcOARURFBYXHgEzITI2Nz4BPQEjFQMVMwcXNxUzNSMBlf7WlZUJEAYFBwcFBhAJASoJEAYFBytqTNIf0SuVQAErKgYGBg8J/tUJDwYGBwcGBg8JlZUBVSrSHtFMlQAAAAAEAFUAVQHAAWsABAAJAA4AEwAANzM1IxUjMxEjESEzNSMVAxUzNSPVa2uAa2sBAGtrgOvrVYCAARb+6oCAARaAgAAAAAEAawBAAZUBawALAAABJwcnBxcHFzcXNycBlR53dx53dx53dx53AUwfd3cfd3ced3cedwACAFUAFQGrAZUABwAMAAAlIzUjFSMXNwUVITUhAVVAKkBVVf8AAVb+qsDV1VVVgCsrAAAAAgBVABUBqwGVAAcADAAANzMVMzUzJwcnFSE1IatAKkBVVVYBVv6q69bWVVWqKioAAQBAAFUBwAFVAAgAACUhNycHFzcnIQHA/tJMHoCAHkwBLutMHoCAH0wAAAACABUAVQHVAVUACQAOAAATFyEVIQcXNycHNxEzESP3Tf7RAS9NHoCAHrQqKgE3TCtMH4CAHh7/AAEAAAACACsAAAHVAasALwBIAAAlJy4BJy4BKwEiBgcOAR0BFBYXHgEfAR4BFx4BMzI2Nz4BPwE+ATc+ATU0JicuASclIiYnLgE1NDY3PgEzMhYXHgEVFAYHDgEjAcnAAwcEBAgElgkPBgYGAQICBAPAAwcEBAgEBQgEBAcDlQMEAgIBAQICBAP+rAYMBAUFBQUEDAYHDAQEBQUEBAwH3sADBQECAgcGBg8JlQUIBAQHA8ACBQIBAgIBAgUClgMHAwQJBAQJBAQGA2IFBAULBwcLBQQFBQQFCwcHCwUEBQAAAQCrAFUBSQFVAAUAAAEnBxc3JwFJHoCAHmIBNx6AgB9hAAAAAQCAAIABgAEeAAUAAAEHJwcXNwFiYmIegIABHmJiHoCAAAAAAQAAAAEAANpWZoBfDzz1AAsCAAAAAADQlPxGAAAAANCU/EYAAAAAAesBwAAAAAgAAgAAAAAAAAABAAAB4P/gAAACAAAAAAAB6wABAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAEAAAACAAArAgAAKwIAAEACAABVAgAAawIAAFUCAABVAgAAQAIAABUCAAArAgAAqwIAAIAAAAAAAAoAFAAeAJgA8gEuAVABagGEAZwBsgHQAj4CUAJiAAAAAQAAABAAWQAEAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKADQAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKADQAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype'), url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAkgAAsAAAAACNQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgCCL/YWNtYXAAAAFoAAAApAAAAKRt+WyrZ2FzcAAAAgwAAAAIAAAACAAAABBnbHlmAAACFAAABMQAAATEu2FuLWhlYWQAAAbYAAAANgAAADYCMzlJaGhlYQAABxAAAAAkAAAAJAPNAfFobXR4AAAHNAAAAEAAAABAGQADq2xvY2EAAAd0AAAAIgAAACIKQAkAbWF4cAAAB5gAAAAgAAAAIAAVAFtuYW1lAAAHuAAAAUUAAAFFVxmm7nBvc3QAAAkAAAAAIAAAACAAAwAAAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6KsB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABACQAAAAIAAgAAQAAAABACDmKOY55kjmmecE56Xnp+fF58roh+in6Kv//f//AAAAAAAg5ijmOeZI5pnnBOel56fnxefK6Ifop+ir//3//wAB/+MZ3BnMGb4ZbhkEGGQYYxhGGEIXhhdnF2QAAwABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABACsAAAHrAcAAWAAAJSM1NCYnLgErATU0JicuASMiBgcOAR0BIyIGBw4BHQEzMhYXHgEVFAYHDgErARUUFhceATsBNTQ2Nz4BMzIWFx4BHQEzMjY3PgE9ATMyNjc+ATU0JicuASMBtSAGBgYPCVYIBwgTCwsTCAcIVgkPBgUHIAwVBwgJCQgHFQwgBgYGDwlRCQgIFQwMFQgICVEJDwYGBiALFAcHCQkHBxQL61UJDwYGByALEwcICAgIBxMLIAcGBg8JUQkICBUMDBUHCAlRCRAGBQcgDBUICAkJCAgVDCAHBQYQCVUICAcTCwsUBwcJAAAABAArAAAB1QGrAAQAHQA2ADsAADczNSMVEyIGBw4BFRQWFx4BMzI2Nz4BNTQmJy4BIxEiJicuATU0Njc+ATMyFhceARUUBgcOASMnMzUjFesqKhUsTh0dISEdHU4sLE4dHSEhHR1OLCM+GBcbGxcYPiMjPhgXGxsXGD4jFSoqa4CAAUAiHR1NLSxOHRwiIhwdTiwtTR0dIv6AGxcXPiMkPhcXGxsXFz4kIz4XFxvqKysAAAAAAgBAABUBwAGVABwAJgAAJSERMzUjIgYHDgEVERQWFx4BMyEyNjc+AT0BIxUDFTMHFzcVMzUjAZX+1pWVCRAGBQcHBQYQCQEqCRAGBQcrakzSH9ErlUABKyoGBgYPCf7VCQ8GBgcHBgYPCZWVAVUq0h7RTJUAAAAABABVAFUBwAFrAAQACQAOABMAADczNSMVIzMRIxEhMzUjFQMVMzUj1WtrgGtrAQBra4Dr61WAgAEW/uqAgAEWgIAAAAABAGsAQAGVAWsACwAAAScHJwcXBxc3FzcnAZUed3ced3ced3cedwFMH3d3H3d3Hnd3HncAAgBVABUBqwGVAAcADAAAJSM1IxUjFzcFFSE1IQFVQCpAVVX/AAFW/qrA1dVVVYArKwAAAAIAVQAVAasBlQAHAAwAADczFTM1MycHJxUhNSGrQCpAVVVWAVb+quvW1lVVqioqAAEAQABVAcABVQAIAAAlITcnBxc3JyEBwP7STB6AgB5MAS7rTB6AgB9MAAAAAgAVAFUB1QFVAAkADgAAExchFSEHFzcnBzcRMxEj903+0QEvTR6AgB60KioBN0wrTB+AgB4e/wABAAAAAgArAAAB1QGrAC8ASAAAJScuAScuASsBIgYHDgEdARQWFx4BHwEeARceATMyNjc+AT8BPgE3PgE1NCYnLgEnJSImJy4BNTQ2Nz4BMzIWFx4BFRQGBw4BIwHJwAMHBAQIBJYJDwYGBgECAgQDwAMHBAQIBAUIBAQHA5UDBAICAQECAgQD/qwGDAQFBQUFBAwGBwwEBAUFBAQMB97AAwUBAgIHBgYPCZUFCAQEBwPAAgUCAQICAQIFApYDBwMECQQECQQEBgNiBQQFCwcHCwUEBQUEBQsHBwsFBAUAAAEAqwBVAUkBVQAFAAABJwcXNycBSR6AgB5iATcegIAfYQAAAAEAgACAAYABHgAFAAABBycHFzcBYmJiHoCAAR5iYh6AgAAAAAEAAAABAADaVmaAXw889QALAgAAAAAA0JT8RgAAAADQlPxGAAAAAAHrAcAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAesAAQAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAABAAAAAgAAKwIAACsCAABAAgAAVQIAAGsCAABVAgAAVQIAAEACAAAVAgAAKwIAAKsCAACAAAAAAAAKABQAHgCYAPIBLgFQAWoBhAGcAbIB0AI+AlACYgAAAAEAAAAQAFkABAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAOAAAAAQAAAAAAAgAOAEcAAQAAAAAAAwAOACQAAQAAAAAABAAOAFUAAQAAAAAABQAWAA4AAQAAAAAABgAHADIAAQAAAAAACgA0AGMAAwABBAkAAQAOAAAAAwABBAkAAgAOAEcAAwABBAkAAwAOACQAAwABBAkABAAOAFUAAwABBAkABQAWAA4AAwABBAkABgAOADkAAwABBAkACgA0AGMAaQBjAG8AbQBvAG8AbgBWAGUAcgBzAGkAbwBuACAAMQAuADAAaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AbgBSAGUAZwB1AGwAYQByAGkAYwBvAG0AbwBvAG4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('woff');
}

.icon,
.icon-info-outline,
.icon-launch,
.icon-label,
.icon-chevron-left,
.icon-expand-more,
.icon-view,
.icon-component,
.icon-align-top,
.icon-align-bottom,
.icon-clear,
.icon-align-right,
.icon-align-left,
:not(.ie8) .viewer-header-select-wrapper:before {
    font-family: 'icon-font';
    font-weight: normal;
    font-style: normal;
}

.icon-info-outline:before {
    content: '\e639';
}

.ie8 .icon-info-outline {
    width: 50px;
}

.ie8 .icon-info-outline:before {
    font-family: sans-serif;
    content: 'Info';
    font-weight: 700;
}

.icon-launch:before {
    content: '\e648';
}

.icon-label:before {
    content: '\e887';
}

.ie8 .icon-label {
    width: 95px;
}

.ie8 .icon-label:before {
    font-family: sans-serif;
    content: 'Annotations';
    font-weight: 700;
}

.icon-chevron-left:before {
    content: '\e8a7';
}

.icon-expand-more:before {
    content: '\e8ab';
}

.icon-view:before {
    content: '\e699';
}

.icon-component:before {
    content: '\e628';
}

.icon-align-top:before {
    content: '\e7a7';
}

.ie8 .icon-align-top {
    width: 70px !important;
}

.ie8 .icon-align-top:before {
    font-family: sans-serif;
    content: 'Expand';
    font-weight: 700;
}

.icon-align-bottom:before {
    content: '\e7a5';
}

.ie8 .icon-align-bottom {
    width: 69px !important;
}

.ie8 .icon-align-bottom:before {
    font-family: sans-serif;
    content: 'Collapse';
    font-weight: 700;
}

.icon-clear:before {
    content: '\e704';
}

.ie8 .icon-clear {
    width: 50px !important;
}

.ie8 .icon-clear:before {
    font-family: sans-serif;
    content: 'Close';
    font-weight: 700;
}

.icon-align-right:before {
    content: '\e7ca';
}

.icon-align-left:before {
    content: '\e7c5';
}