/* buttons */

.button {
    background-color: #e8ecec;
    color: #1b363b;
    font-size: 1em;
    border: none;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.button:before {
    font-size: 1.4em;
}

.button:hover {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color: #ccd5d7;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

.button.is-active {
    background-color: #1b363b;
    color: #eddb60;
}

.button.is-active:hover {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #ccd5d7;
}

/* a11y */

.a11y-sr-only,
.a11y-kb-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.a11y-kb-only:active,
.a11y-kb-only:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}