/* include component styles alphabetically */
@import 'modules/app/app.css';
@import 'modules/core/core.css';
@import 'modules/icon/icon.css';
@import 'modules/info-panel/info-panel.css';
@import 'modules/module-selector/module-selector.css';
@import 'modules/size-controls/size-controls.css';

.viewer-header-select-wrapper {
    display: inline;
}
:not(.ie8) .viewer-header-select-wrapper {
    background: #e8ecec;
    box-sizing: border-box;
    color: #1b363b;
    display: inline-block;
    font-size: 1em;
    overflow: hidden;
    padding: 0 0 0 50px;
    position: relative;
    width: 250px;
    vertical-align: top;
    z-index: 1;
}
:not(.ie8) .viewer-header-select-wrapper:before {
    background-color: #e8ecec;
    border-left: 3px solid #f3f5f5;
    box-sizing: border-box;
    content: '\e8ab';
    font-size: 1.4em;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: -1;
}
.viewer-header-select-wrapper select {
    margin-top: 10px;
    width: 250px;
}
:not(.ie8) .viewer-header-select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    margin-top: 0;
    vertical-align: top;
    width: 110%;
}
:not(.ie8) .viewer-header-select-wrapper select:hover {
    cursor: pointer;
}
:not(.ie8) .viewer-header-select-wrapper select:focus {
    outline: none;
}
:not(.ie8) .viewer-header-select-wrapper select::-ms-expand {
    display: none;
    /* to ie 10 */
}
.viewer-footer {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    font-size: 0.75em;
    max-width: 12em;
    padding: 0 10px;
    background-color: #d3d3d3;
    color: #1b363b;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
:-moz-any(.viewer-header-select-wrapper):before {
    background-color: #e8ecec;
    /* this is necessary for overcome the caret default browser */
    pointer-events: none;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
    z-index: 1;
    /* this is necessary for overcome the pseudo element */
}

@media all and (max-width: 840px) {
    .viewer-module-selector button:first-of-type {
        margin-left: 0;
    }
}
@media all and (max-width: 460px) {
    .viewer-header .viewer-link {
        display: none;
    }
}
@media all and (max-width: 420px) {
    nav,
    .viewer-header-select-wrapper {
        width: 100%;
    }
    .viewer-logo {
        display: none;
    }
    .viewer-width-input-wrapper {
        display: none;
    }
}